body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

footer {
	line-height: 0.5em;
}

footer p {
	font-size: 1.2em;
}

footer img {
	width: 12px; position: relative; top: 1px;
}

footer.middle {
	position: fixed;
    top: 50%;
    left: 50%;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
